@charset "utf-8";
/* CSS Document */
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img { margin:0; padding:0; }

fieldset, c{ border:none; }

img{vertical-align: middle;}

address, caption, cite, code, dfn, th, var { font-style:normal; font-weight:normal; }

ul, ol ,li{ list-style:none; }

<<<<<<< HEAD
body { color:#000; font:12px "SimSun","宋体","Arial Narrow",HELVETICA; background: #fff !important}
=======
body { color:#000; font:12px "SimSun","宋体","Arial Narrow",HELVETICA; background:#fff !important;}
>>>>>>> d484ee9a5a8c065a0babab07fb838b0a27c0caa7

a { color:#000; text-decoration:none; }

body,html,#root{
    width:100%;
    height:100%;
}
html{
    font-size: 32vw;
    touch-action:none;
}
